/* header and footer css */
@font-face {
    font-family: InstallFont;
    src: url(Morn-Thin.otf);
    /*need to install this font*/
}

#header {
    background-color: white;
    font-family: InstallFont;
    text-align: center;
    color: #2a7c6f;
    font-size: larger;
    
}

main {
    font-family: InstallFont;
    color: #2a7c6f;
}


@media screen and (max-width:900px) {
    img {
        width: 75px;
        height: 75px;
    }

} 

@media only screen and (max-width: 480px) {
    /* for mobile */
    nav {
      display: none;
    }
    
    .dropdown {
      float: right;
      overflow: hidden;
    }
    
    .dropdown .dropbtn {
      font-size: 16px;  
      border: none;
      outline: none;
      color:#2A7C6F;
      padding: auto;
      background-color: #fbfbfb;
      font-family: inherit;
      margin: auto;
    }
    
    .dropdown img {
      margin: auto;
      padding: auto;
      height: auto;
      width: 30px;
      background-color: inherit;
    }
  
    .navbar a:hover, .dropdown:hover .dropbtn {
      background-color: white;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      font-weight: bolder;
      left: 58%;
      background-color: #2a7c6f;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      float: none;
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: center;
    }
    
    .dropdown-content a:hover {
      background-color: #fbfbfb;
      color: #2A7C6F;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
  }
  
  
  @media screen and (min-width: 480px) {
    /* for desktop */
    .dropdown {
      display: none;
    }
  
  
    nav ul { 
      list-style-type: none;
      font-family: InstallFont;
      text-align: center;
      font-size: 14px;
      font-weight: bolder;
      padding: auto;
      margin: auto; 
      color: #2a7c6f;
    }
    nav li { 
      display: inline; 
    }
    
    nav a { 
     text-decoration: none;
     padding-left: 10px;
     padding-right: 10px;
     color: #2a7c6f;
    }
    
    nav a:hover {
      border-bottom: #2A7C6F solid 2px;
    }
  }


nav ul {
    list-style-type: none;
    font-family: InstallFont;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    margin: 5px;
    color: #2a7c6f;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: #2a7c6f;
}

nav a:hover {
    border-bottom: #2A7C6F solid 2px;
  }

#top {
    text-align: center;
    padding-top: 50px;
    font-weight: bolder;
}

img {
    border-radius: 50%;
    width: 250px;
    height: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
    font-weight: bolder;
    
}

footer {
    font-style: italic;
    font-size: .80em; 
    padding: auto;
    text-align: center;
    color: #2a7c6f;
    font-weight: bold;
  }